<header>
  <div class="header-logo">
   <%= link_to("Rails beginer", "/") %> 
  </div>
  <ul>
    <%# Gemのdeviseが用意してくれているヘルパーメソッド、ユーザーがログインしているか判定 %>
    <% if user_signed_in? %>
      <li>
        ようこそ！ <%= current_user.name %>さん
      </li>
      <li>
        <%= link_to("質問作成", "/questions/new") %>
      </li>
      <li>
        <%= link_to("ログアウト", "/users/sign_out", method: :delete, data: {confirm: "本当にログアウトしますか？"}) %>
      </li>
    <% else %>
      <li>
        <%= link_to("新規登録", "/users/sign_up") %>
      </li>
      <li>
        <%= link_to("ログイン", "/users/sign_in") %>
      </li>
    <% end %>
  </ul>
</header>